@model PsychologistModel
<div class="margintop ms-5 ">
    <div class="row">
        @*Sol Taraf*@
        <div class="col-3">
            <div class="row">
                <div class="col-12">
                    <img src="~/image/@Model.Image.Url" style="width: 15rem;" />

                </div>
                <label class="col-12">
                    @Model.Name
                </label>
            </div>
        </div>
        @*Sağ Taraf*@
        <div class="col-7">
            <div class="row g-4 ">
                <div>
                    <h4>Hakkında</h4>
                    <label>@Model.PsychologistDescription.About</label>
                </div>
                 <div>
                    <h4>Eğitim Bilgileri</h4>
                    <label>@Model.PsychologistDescription.Education</label>
                </div>
                <div>
                    <h4>Deneyim</h4>
                    <label>@Model.PsychologistDescription.Experience</label>
                </div>
                 <div>
                    <h4>Danışmanlık Verdiği Alanlar</h4>
                    @foreach (var categories in Model.categories)
                    {
                    <label>@categories.Name</label>
                    }              
                </div>
                @if (User.Identity.IsAuthenticated)
                {
                    <form asp-area=""
                      asp-controller="Cart"
                      asp-action="AddToCart"
                          method="post"
                          class="d-inline">
                        <input type="hidden" asp-for="Id" />
                        <input type="hidden" name="Quantity" value="1" />
                        <button type="submit" class="btn btn-success btn-sm"> Randevu Al</button>

                    </form>
                }
            </div>
        </div>

    </div>
</div>
