@model List<UserViewModel>

<div class="mt-5 ms-5 me-5">
    <h4>Kullanıcı Listesi</h4>
    <table id="myDataTable" class="table table-bordered table-sm">
        <thead class="bg-label-success">
            <tr>
                <th>Kullanıcı Adı</th>
                <th >Rol</th>
                <th>Email</th>
                <th width="80">Email Onayı</th>
                <th>Sil</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr class="text-center">

                    <td class="align-middle">@item.FirstName  @item.LastName</td>

                    <td>
                       @item.Type
                    </td>
                    <td>@item.Email</td>
                    <td class="align-middle">
                        <form asp-area="Admin"
                          asp-controller="User"
                          asp-action="ConfirmEmail"
                          asp-route-id=@item.Id
                              class="form-check"
                              id="form-isconfirmed-@item.Id">
                            <div class="form-check form-switch">
                                <input class="form-check-input"
                                   type="checkbox"
                                       role="switch"
                                       id="flexSwitchCheckChecked"
                                   asp-for="@item.EmailConfirmed"
                                       onchange="document.getElementById('form-isconfirmed-@item.Id').submit();">
                            </div>
                        </form>
                    </td>

                    <td class="d-flex justify-content-around">
                        <a class="btn-danger py-1 pe-3 ps-3"
                       asp-area="Admin"
                       asp-controller="User"
                       asp-action="Delete"
                       asp-route-id="@item.Id">
                            Sil
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
@section Styles{
    @await Html.PartialAsync("_DataTablesStylesPartialView")
    }
@section Scripts{
    @await Html.PartialAsync("_DataTablesScriptsPartialView")
    }
