@model CategoryDescriptionModel
<div class="margintop">
    <div class="container  ">
        <h1 class="text-center text-warning">@Model.CategoryName</h1>
        <p class="mb-3 mt-5 fw-medium fs-4">@Model.CategoryName Nedir?</p>
        <div>@Model.What</div>
        <hr />
        <p class="mb-3 mt-4 fw-medium fs-4">@Model.CategoryName Nasıl Uygulanır?</p>
        <div>@Model.How</div>
        <hr />
        <p class="mb-3 mt-4 fw-medium fs-4">@Model.CategoryName Amacı Nedir?</p>
        <div>@Model.Purpose</div>
        <hr />
        <p class="mb-3 mt-4 fw-medium fs-4">@Model.CategoryName Nasıl Kimin İçin Uygulanır?</p>
        <div>@Model.ForWho</div>
        <hr />
        <p class="mb-3 mt-4 fw-medium fs-4">@Model.CategoryName Ne Kadar Sürer?</p>
        <div>@Model.HowLong</div>
        <hr />
        <p class="mb-3 mt-4 fw-medium fs-4">@Model.CategoryName Etkili Midir?</p>
        <div>@Model.PositiveEffect</div>
        <hr />
    </div>
    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials section-bg">
        <div class="container" data-aos="fade-up">

            <div class="section-header">
                <p class="fw-bold text-warning fs-3">Bu Alanda Hizmet Veren Danışmanlarımız</p>
            </div>
            @if (Model.Psychologist.Count() > 0)
            {
                <div class="row ">
                    @foreach (var psychologist in Model.Psychologist)
                    {

                        <div class="col-lg-3 col-sm-6 mt-4">
                            <div class="card" style="width: 15rem;">
                                <img src="~/image/psychologist/@psychologist.Image.Url" class="b-image" />
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-8">
                                            <h5 class="card-title ms-3">@psychologist.Name</h5>
                                        </div>
                                        <div class="col">
                                            <p class="card-text">
                                                @($"{psychologist.Price:C0}")
                                            </p>
                                        </div>
                                    </div>


                                    <a href="#" class="btn btn-primary mt-2"> Danışmanın Profilene Git</a>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            }
        </div>
    </section><!-- End Testimonials Section -->
</div>
